
/*
h1{
    color: cornflowerblue;
}
img{
    border: solid 3px;
    padding: 25px;
    background-color: yellow;
    border-radius: 20px;
}
#subtitulo{
    font-size: medium;
    background-color: yellow;
    padding: 10px;
    color: red;
    width: 200px;
}
.claseLetras{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
footer{
    background-color: aliceblue;
    color: blue;
}
nav{
    background-color: rgba(87, 67, 48, 1);
    display: flex;
}
.boton{
    background-color: greenyellow;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 50px;
}
*/


/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(235, 225, 189, 1);
}
/*estilados de la navegacion*/


.header{
    background-color: rgba(87, 67, 48, 1);
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}   
.header .logo img:hover{
    transform: scale(1.2);
}

.header .listaNavegacion{
    list-style: none;

}
.header  .listaNavegacion li{
    display: inline-block;
    padding: 0 20px;
}
.header .listaNavegacion li:hover{
    transform: scale(1.1);
}
.header .listaNavegacion a{
    font-size: 700;
    color: rgba(235, 225, 189, 1);;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}
/*
.linkNav{
    text-decoration: none;
    color: rgba(235, 225, 189, 1);;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 10;
    
    justify-content: space-between;
}
*/
.tituloPrincipal{
    font-family: 'Lexend Exa', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}



.tituloPrincipalCompetencias{
    font-family: 'Lexend Exa', sans-serif;
    margin-top: 20px;
    font-size: 2.5rem;
}

/*
.colorSeccionPrincipal{
    background-color: rgba(235, 225, 189, 1);
    
}
*/
main{
    
    height: 80vh;
}
/*
.cajaBiografia{
    
    height: 60vh;
    width: 60vw;
    margin: 50px auto;
    border-radius: 65px 65px 65px 65px;
    -webkit-border-radius: 65px 65px 65px 65px;
    -moz-border-radius: 65px 65px 65px 65px;
    background: #c5b079;
    border: 5px solid #1d1a1a;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55);

}
.claseLetras{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}


.hijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: center;
}
.hijo img{
    width: 300px;
    height: 300px;
    border-radius: 162px 161px 161px 161px;
    -webkit-border-radius: 162px 161px 161px 161px;
    -moz-border-radius: 162px 161px 161px 161px;
    border: 6px solid #000000;
    object-fit: cover;
}
*/

.container{
    
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    margin: 20px;
    overflow: hidden;
    background-color: #c5b079;;
    cursor: default;
    transition: all 400ms ease;
    border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    border: 5px solid #000000;
       
}


.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.imagenContainer{
    display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 250px;
}
.card img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 162px 161px 161px 161px;
    -webkit-border-radius: 162px 161px 161px 161px;
    -moz-border-radius: 162px 161px 161px 161px;
    border: 6px solid #000000;
    object-fit: cover;
    
    
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.tamañoFooter{
    height: 8vh;
    margin-bottom: 0;
    margin-top: 50px;
}
.listaDeCompetencias{
  
    display: flex;
    height: 76vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bullet{
 
    width: 90%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.contenedorMain{
    display: flex;
}
.experienciasPadre{
    
    display: flex;
    height: 85vh;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hijoExperiencias{
    display: flex;
   
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    width: 40%;
}
.educacionPadre{
    
    display: flex;
    height: 80vh;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.educacionHijo{
    
    width: 40%;
}
.educacionHijo h1{
    font-family: 'Lexend Exa', sans-serif;
    
    font-size: 2.5rem;
}
.educacionHijo p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
}
.pieDePagina{
    width: 100%;
    background-color:rgba(87, 67, 48, 1) ;
}
.pieDePagina .grupoUno{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pieDePagina .grupoUno .box h2{
    color: rgba(235, 225, 189, 1);;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.pieDePagina .grupoUno .box p{
    color: white;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}    
.pieDePagina .grupoUno .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgba(235, 225, 189, 1);;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 154px 154px 154px 154px;
    -webkit-border-radius: 154px 154px 154px 154px;
    -moz-border-radius: 154px 154px 154px 154px;
}
.pieDePagina .grupoUno .redSocial a:hover{
    color:white ;
}
.pieDePagina .grupoDos{
    color: rgba(235, 225, 189, 1);;
    padding: 15px 10px;
    text-align: center;
}
.pieDePagina .grupoDos small{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}






@media screen and (max-width: 700px) {
    .pieDePagina .grupoUno{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    } 
    


    .container{
        
        width: 100%;
        display: flex;
        max-width: 600px;
        margin: 25px auto;
        justify-content: center;
        align-items: center;
    }

    .card{
        height: 420px;
        width: 100%;
        margin: 20px;
        overflow: hidden;
        background-color: #c5b079;;
        cursor: default;
        transition: all 400ms ease;
        border-radius: 58px 58px 58px 58px;
        -webkit-border-radius: 58px 58px 58px 58px;
        -moz-border-radius: 58px 58px 58px 58px;
        border: 5px solid #000000;
           
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
    .imagenContainer{
        display: flex;
      justify-content: center; 
      align-items: center; 
      width: 100%;
      height: 150px;
    }
    .card img{
        margin-top: 15px;
        width: 150px;
        height: 150px;
        border-radius: 162px 161px 161px 161px;
        -webkit-border-radius: 162px 161px 161px 161px;
        -moz-border-radius: 162px 161px 161px 161px;
        border: 6px solid #000000;
        object-fit: cover;
        
        
    }
    .card .contenido{
        padding: 15px;
        text-align: center;
    }
    .card .contenido p{
        line-height: 1.5;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
    }
    .tituloPrincipal{
        font-size: 2.2rem;
    }
    
    .contenedorMain {
        display: flex;
        justify-content: center; 
        align-items: center;
        
    }
    .experienciasPadre {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
    
      .hijoExperiencias {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px;
      }
    
      .imgExperiencias {
        width: 80%; 
        max-width: 100%; 
        display: block; 
        margin: 0 auto;
      }
    
      .hijoExperiencias p {
        font-size: 1.5rem; 
      }
}
